#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 40em;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: 700;
}


#register-form{
    border: 1px #ddd solid;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    height: 400px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 1px 1px 3px 3px #ffff;
}


#register-form button {
    background-color: #fdbd69;
    opacity: 90%;
    border-radius: 4px;
    height: 2.5em;
    cursor: pointer;
}
#register-form input{
     border: 1px rgb(131, 122, 122) solid;
    border-radius: 4px;
     height: 2.3em;

}
input:focus {
  background-color: orange;
}
