.wrapper{
   background-image: url("https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
   height: auto;
   margin-left: 20px;
   margin-right: 20px;
}

.grid-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.grid-image-wrapper .container{
    margin-top: 50px;
    box-shadow: 1px 1px 3px 3px #49474a;
    background-color: #ffffff;
}
.grid-image-wrapper img{
    width: 350px;
    height: 420px;
}

@media (max-width: 768px){
    .grid-image-wrapper{
        flex-direction: column;
        text-align: center;
    }
   
}

@media (max-width: 576px){
    
}
